YAGPDB_BOTTOKEN = TOKEN
YAGPDB_CLIENTID = ID
YAGPDB_CLIENTSECRET = SECRET
YAGPDB_CONNEVT_CHANNEL = 123456789012345678
YAGPDB_CONNSTATUS_CHANNEL = 123456789012345679
YAGPDB_EMAIL = EMAIL
YAGPDB_HOST = discord.${DOMAIN}
YAGPDB_OWNER = OWNER
YAGPDB_PQHOST = postgres
YAGPDB_PQPASSWORD = PASSWORD
YAGPDB_PQUSERNAME = USERNAME
YAGPDB_REDIS = redis:6379
